# Eclipse
.classpath
.project
.settings/
.
# Intellij
.idea/
*.iml
*.iws

# VSCode
.vscode

# Mac
.DS_Store
# SPARK
spark-warehouse/
# Maven
log/
target/

# Avoid commit the private API Key
src/main/resources/application.properties
